
.tols{
    width:60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;



}

.tols_smal{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;


    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    
    color: #FFFFFF;

}

.tols_top{
    margin-top: 100px;
    margin-bottom: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    
    color: #FFFFFF;
}

input[type=text] {

  background-color: #d8d8d8;
  color: rgb(255, 93, 120);
  

  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=password] {

  background-color: #d8d8d8;
  color: rgb(255, 93, 120);
  

  width: 80%;
  padding: 12px 20px;
  font-size: 36px;
  margin: 8px 0;
  box-sizing: border-box;
}

.printer_name{
  width: 100%;
}


/*




.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; 
  }
  
  .select-selected {
    background-color: rgb(255, 30, 225);
  }
  

  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

 Point the arrow upwards when the select box is open (active): 
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: 
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): 
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: 
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }*/