@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="phrase">
                
        <img src="/soruces/Johannes Icon.png">
        <img src="/soruces/get paid for 3d printing get your printing done.svg">
    </section>
    <section class="lorem_ipsum">
                
        Johannes 3D is a platform that allows you to associate owners of 3d printers and people who need printing services at a low price, the platform is intended for small home applications
        if you’ve decided it’s a good idea to buy your own 3D printer, you may be overwhelmed by the range of choices now available. To help people make sense of the 3D printer market, we reached out to our entire customer base and our global network of 3D printing service providers to find out about the 3D printers they own and their experiences in using them.
        </section>
</main>