@page
@model JohannesWebApplication.Models.PrinterModel

@{
    
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    @using (Html.BeginForm("FormRegisterPrinter", "Home", FormMethod.Post))
    {
        <form>
            @Html.TextBoxFor(m => m.Name);
            @Html.TextBoxFor(m => m.Description);

            <div>
                <button type="submit">Add Printer</button>
            </div>
        </form>
    }
</div>
</body>
</html>